page-home {
  .lbl-itemid {
    text-align: center;
    color: rgba(49, 49, 49, 0.993);
    font-weight: bolder;
  }
  .lbl1 {
    color: rgba(49, 49, 49, 0.993);
    font-weight: bolder;
  }
  .lbl2 {
    color: rgba(49, 49, 49, 0.993);
    font-weight: bolder;
    margin-left: 10px !important;
  }
  .lbl3 {
    color: rgba(80, 82, 76, 0.918);
    margin-left: 10px !important;
  }
  .lbl-itemid2 {
    text-align: center;
    color: #19bbc0;
    font-weight: bolder;
    font-size: 16pt;
  }
}
