// http://ionicframework.com/docs/theming/
.custom {
  background-color: #19bbc0 !important;
  /* This sets the background color*/
}
.nav-title {
  font: white;
}

ion-header {
  $SIDEMENU_LEFT: #19bbc0;
  $SIDEMENU_RIGHT: #0071b7;
  .toolbar-background-ios,
  .toolbar-background-md {
    background: linear-gradient(90deg, $SIDEMENU_LEFT 0%, $SIDEMENU_RIGHT 100%);
  }
  .toolbar-title-ios,
  .toolbar-title-md {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    pointer-events: auto;
  }
}
hr {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-left: 20px;
  width: 90%;
}
.center {
  text-align: center;
}
div {
  margin-left: auto;
  margin-right: auto;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
